/* Creación de las fuentes que usaremos */
@font-face{

    font-family: 'Primera fuente';
    src: url(../Fuente/Roboto-Medium.ttf);

}

@font-face{

    font-family: 'Segunda fuente';
    src: url(../Fuente/Roboto-Bold.ttf);

}

@font-face{

    font-family: 'Tercera fuente';
    src: url(../Fuente/Roboto-Light.ttf);

}

h5{

    font-family: 'Primera fuente';

}
 

h6{

    font-family: 'Primera fuente';

}

h2{

    font-family: 'Segunda fuente';
    color: white;
    font-size: 2.1rem;

}

/* page logo */
.o-img-logoFisica1{

    width: 2.6rem;

}

/* main menu */
.o-BoxMenu{

    background-color: #A1C6EA;
    height: 4rem;
    padding: 0.7em 3rem 0rem 1.5rem;
    box-shadow: 0px 3px 3px 0px #e3e3e3;
    margin: 0rem 0rem 2rem 0rem;

}

.o-containerFirst{

    display: flex;
    justify-content: space-between;

}

.o-color2{

    display: flex;
    justify-content: center;
    align-items: center

}


.o-containerTitleFisica{

    height: 1.5rem;
    padding: 0rem;

}

.o-containerLogoApple{

    padding: 0rem 0rem 0rem 1.5rem;
    margin-right: 1rem;
    min-width: 4rem;
    max-width: 4rem;

}

.o-img-back{

    width: 1rem;

}

.o-button-back{

    background-color: transparent;
    border: none;
    border-radius: 2rem;
    outline: none;
    font-family: 'Primera fuente';
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    transition: 0.2s;
}

/* button animation */
.o-button-back:hover{

    background-color: white;
    border: 0.2rem solid white;
    outline: none;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 2rem;

}

.o-containerImgTopic{

    background-image: url(../Imágenes/FondoCañon.jpg);
    background-size: cover;
    height: 20rem;
    background-position: 0rem -9rem;
    border-radius: 0.5rem;
    padding: 0rem 0rem 1rem 1rem;

}

.o-Box-ExplicationTopic{

    height: 100rem;
    width: 70rem;

}

.o-BoxTitleTopic{

    height: 2.5rem;

}

.o-BoxTitleExercise{
    font-family: "Primera fuente";
    font-style: normal;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 2.1rem;
    color: black;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 70rem;
    padding: 0;
}

.o-exercise-container{
    background-color: #FE9345;
    height: 22.375rem;
    padding-top: 1rem;
}

.o-complex-style{
   font-size: 1.125em;
   font-family:"Tercera fuente";
   font-weight: lighter;
   color: white;
   width: 6rem;
   padding: 0;
   margin-top: 0.2rem;

}

.o-solution-button{
    width: 8.125rem;
    height: 2.438rem;
    background: #A1C6EA;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 3.125rem;
    border: none;
}

.o-solution-button:hover{
    background-color: #95B9DD;
}

.o-style{
    display: flex;
    justify-content: flex-end;
    margin-left: 5rem;
}

.o-box-e{
    height: 18rem;
    margin-left: 0rem;
    width: 68.15rem;
    justify-content: space-between;

}

.o-images-r{
    width:2rem;
    height: 2rem;
    padding: 0rem;
}

.o-box-infoE{
    margin-left: 0rem;
}

.o-info-e{
    width: 14.875rem;
    height: 16.125rem;
    background: #FFFFFF;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin-top: 1rem;
}

.o-center{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.o-images-e{
    width:3.938rem;
    height: 3.938rem;
    margin-left: 5.468rem;
    margin-top: 1rem;
}

.o-titles-e{
    font-family: "Primera fuente";
    margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    text-align: center;
    background: none;
    border: none;
    margin-left: 4.5rem;
    text-decoration-line: underline;

color: #000000;
}

.o-description-e{
    text-align: center;
    margin: 1rem;
}



.o-exercise-container2{
    background-color: #FF6E40;
    height: 22.375rem;
    padding-top: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.o-exercise-container3{
    background-color: #FF4B33;
    height: 22.375rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    
}

.o-arrows{
    border: none;
    background: none;
}

.o-back-arrow{
    width:1.125rem;
    height: 1.125rem;
}

.o-titles-solution{
    font-size: 1.125rem;
    padding-left: 0.5rem;
    height: 1rem;
    font-family: 'Segunda fuente';
}

.o-rectangle{
    width: 1.063rem;
    height: 1.063rem;
    margin-top: 0.2rem;    
}
.o-e-text{
    font-size: 1.125rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: 'Segunda Fuente';
}

.o-paragraph{
    font-size: 1.125rem;
}

.o-exercise-so{
    display: none;
}

.o-e{
    display: flex;
}

.o-e-title{
    font-size: 1.125rem;
    margin-top: 3rem;
}

.o-tips{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.o-icon-idea{
    width: 4.875rem;
    height: 4.875rem;
    margin-bottom: 1rem;
}
https://github.com/dianaseguram/Parcial-Web.git
.o-rect{
    width: 22.375rem;
    height: 7.375rem;
    border: 0.25rem solid #FFD15C;
    box-sizing: border-box;
    text-align: center;
    padding:2rem;
}

.o-solution2{
    margin-top: 5rem;
}

.o-solution3{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.o-info-e:hover{
    margin-top:0;
    transform: scale(0.2rem);
}
